{{outlet}}

{{#each model as |task|}}
<div class="well">
  <h4>{{task.title}}</h4>
  <small>
    <strong>Due:</strong> {{moment-format task.date 'MM/DD/YYYY ' 'MM-DD-YYYY'}}
    ({{moment-from-now task.date}})
  </small>
  <p>{{task.description}}</p>
</div>
{{/each}}
